body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family:cursive;
}

.navbar1{
    background-color: slateblue;
}

.navheading{
    color: white;
    text-align: center;
}

.navheading:hover{
    color: yellow;
}

.heading1{
    text-align: center;
}

.button1{
    text-align: center;
}

.btn1{
    background-color: slateblue;
    color: white;
    border: slateblue solid 2px;
}

.btn1:hover{
    color: slateblue;
    background-color: white;
}

.result1{
    text-align: center;
}

.title2{
    text-align: center;
    color: slateblue;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolder;
}

.image1{
    border: 5px solid slateblue;
    background-color: transparent;
    border-radius: 20px;

}